@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "relative-medium-pro";
        src: url("/font/relative-medium-pro.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }
}

* {
    cursor: none;
}
.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.cursor-dot {
    width: 25px;
    height: 25px;
}

.cursor-dot-outline {
    width: 40px;
    height: 40px;
    opacity: 0;
}
